{% extends "base.html" %}
<!-- bloques de plantilla -->

{% block title %}
    Bodega
{% endblock %}

{% block container %}
    <div class="container" style="color: #FFFFFF">
        <h1>Bodega</h1>
        <form action="{% url 'inventario:bodega' %}" method="POST">
            {% csrf_token %}
            <div class="row mb-4">
                <div class="col-6">
                    <div class="mb-3">
                        <label for="nombre" >Nombre</label>
                        <input type="text" value="{{ b.nombre }}" name="nombre" id="nombre" class="form-control" required placeholder="Nombre de la bodega" autofocus >
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label for="direccion" >Direccion</label>
                        <input type="text" value="{{ b.direccion }}" name="direccion" id="direccion" class="form-control" required placeholder="Calle 13 frente al boulevard las Torres">
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-6">
                    <div class="mb-3">
                        <label for="encargado" >Encargado</label>
                        <select name="encargado" id="encargado" style="width:15rem; height:2rem;">
                        {% for e in emp %}
                            <option value="{{e.id}}">{{e.nombre}} {{e.apellido}}</option>
                        {% endfor %}
                    </select>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-3">
                    <div class="mb-3">
                        <input type="submit" class="btn" style="width: 75%;height: 3.5rb;border-radius: 8px;background-color: #FC6E20;" value="Registrar Bodega">
                    </div>
                </div>
            </div> 
            
        </form>
        <br>
        <hr>
        <div class="row">
            {% for bo in bodega %}
                <div class="col-3">
                    <div class="card mb-4" style="width: 17.5rb; box-shadow: 3px 3px 20px 4px rgba(252,110,32,0.25);margin-right: 3px;height: 16rb;">
                        <div class="card-body">
                            <h5 class="card-title " style="color: black;">{{ bo.nombre }} {{ bo.direccion}} </h5>
                            <p class="card-text text-secondary">
                                <strong>{{ bo.encargado | timesince }}</strong>
                            </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-itb" style="height:4rb;">Nombre: <strong>{{ bo.nombre }}</strong></li>
                            <li class="list-group-itb" style="height:4rb;">Dirección: <strong>{{ bo.direccion }}</strong></li>
                            <li class="list-group-itb">Encargado: <strong>{{ bo.encargado }}</strong></li>
                        </ul>
                    </div>
                </div>
            {% empty %}
                <div class="alert alert-danger">Sin resultados</div>
            {% endfor %}
        </div>
        
    </div>    
{% endblock %}