{% extends 'base.html' %}

{% block title%} Productos {% endblock%}

{% block container %}
    <div class="row">
        <div class="col-10">
        <!----------Tabla que muestra todos los productos------------------------------>
            <form action="" method="get">
                <input type="search" name="q" value="{{ q|default_if_none:'' }}" class="form-control" placeholder="Buscar productos">
            </form>

            <h2 class="mt-3"></h2>
            <table class="table table-hover table-dark table-striped">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Categoria</th>
                        <th>Unidad de Medida</th>
                        <th>Proveedor</th>
                        <th>Precio de Venta</th>
                        <th>Precio de Compra</th>
                        <th>Cantidad</th>
                        <th>Bodega</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in productos%}
                    <tr>
                        <td>{{p.nombre}}</td>
                        <td>{{p.categoria}}</td>
                        <td>{{p.unidades_medidas}}</td>
                        <td>{{p.proveedor}}</td>
                        <td>{{p.cantidad}}</td>
                        <td>{{p.precio_compra}}</td>
                        <td>{{p.precio_venta}}</td>
                        <td>{{p.bodega}}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="10" class="text-danger text-center">No se encontraron resultados</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tbody>
                    
                    <tr>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-2">
            <div class="card mb-4" style="width: 17.5rem; box-shadow: 3px 3px 20px 4px rgba(252,110,32,0.25);margin-right: 3px;height: 22rem;">
                <div class="card-body">
                    {% if q %}
                        {% for p in productos %}
                        <h5 class="card-title" style="color: black;">{{p.nombre}}</h5>
                        {% endfor %}
                    {% else %}
                    <h5 class="card-title" style="color: black;">Nombre del Producto</h5>
                    {% endif %}
                    <p class="card-text text-secondary">
                        Codigo: <strong>#</strong>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="height:4rem;">Categoria:<strong> # </strong></li>
                    <li class="list-group-item" style="height:4rem;">Unid de Medida:<strong> # </strong></li>
                    <li class="list-group-item" style="height:4rem;">Proveedor:<strong> # </strong></li>
                    <li class="list-group-item" style="height:4rem;">Cantidad Actual:<strong> # </strong></li>
                </ul>
            </div>
            <div style="width: 17.5rem; height: 10rem;">
                <form action="">
                    <input class="form-control-sm" type="number" name="cantidad" id="cantidad" placeholder="Actualizar Cantidad">
                    <button class="btn btn-success col-3">✓</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
