{% extends 'base.html' %}

{% block title %}
Inventario
{% endblock %}

{% block container %}
    <div class="row">
        <h1>Inventario</h1>
        <br>
        <table class="table table-hover table-dark table-striped">
            <thead>
                <tr>
                    <th class="text-center">Producto</th>
                    <th class="text-center">Bodega</th>
                    <th class="text-center">Cantidad</th>
                </tr>
            </thead>
            <tbody>
                {% for i in inventario_bodega %}
                    <tr>
                        <td class="text-center">{{i.producto}}</td>
                        <td class="text-center">{{i.bodega}}</td>
                        <td class="text-center">{{i.stock}}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="10" class="text-danger text-center">No se encontraron resultados</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}