{% extends 'base.html' %}

{% block title %}
Nuevo Producto
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-2">
            {% if p %}
                <form action="{% url 'inventario:modificarProducto' p.id i.bodega.id %}" method="post">
            {% else %}
                <form action="" method="post">
            {% endif %}
                {% csrf_token %}
                <div class="mb-3">
                    <label for="producto">Producto</label><br>
                    <input value="{{p.nombre}}" type="text" name="nombre" id="nombre" class="form-control" autocomplete="off" required autofocus>
                </div>

                <div class="mb-3">
                    <label for="categoria">Categoria</label><br>
                    <select name="categoria" id="categoria" class="form-control">
                        <option value="1">Lacteos</option>
                        <option value="2">Carnes</option>
                        <option value="3">Bebidas</option>
                        <option value="4">Limpieza</option>
                        <option value="5">Abarrotes</option>
                        <option value="6">Enlatados</option>
                        <option value="7">Granos</option>
                        <option value="8">Dulces</option>
                        <option value="9">Otros</option>
                        <option id="cate" value="{{p.categoria}}" hidden></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="unidad">Unidad de medida</label><br>
                    <select  name="unidad" id="unidad" class="form-control">
                        <option value="1">Libras</option>
                        <option value="2">Kilos</option>
                        <option value="3">Cajas</option>
                        <option value="4">Docena</option>
                        <option value="5">Media Docena</option>
                        <option value="6">Quintal</option>
                        <option value="7">Litros</option>
                        <option value="">Galon</option>
                        <option id="uni" value="{{p.unidades_medidas}}" hidden></option>
                    </select>
                </div>
                
                <div class="mb-3">
                    <label for="proveedor">Proveedor</label><br>
                    <input type="text" value="{{p.proveedor}}" name="proveedor" id="proveedor" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="precio">Precio de Venta</label><br>
                    <input type="text" value="{{p.precio}}" step="0.01" name="precio" id="precio" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="cantidad">Cantidad</label><br>
                    <input type="text" value="{{i.stock}}" name="cantidad" id="cantidad" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="bodega">Bodega</label><br>
                    <select name="bodega" id="bodega" class="form-select">
                        <option value="">Seleccione Bodega</option>
                            {% if p %}
                                {% for b in bodega %}
                                    {% if b == i.bodega %}
                                        <option value="{{b.id}}" selected>{{b.nombre}}</option>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% for b in bodega %}
                                    <option value="{{b.id}}">{{b.nombre}}</option>
                                {% endfor %}
                            {% endif %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="ordenCompra">Orden de Compra</label><br>
                    <input type="text" value="{{p.ordenCompra}}" name="ordenCompra" id="ordenCompra" class="form-control" required>
                </div>

                <div class="mb-3">
                    <input type="submit" class="btn cards" value="Registrar Producto">
                </div>
            </form>
        </div>

        
        {% comment %} Tabla que muestra todos los productos {% endcomment %}
        <div class="col-10">
            
            <form action="{% url 'inventario:nuevoProducto' %}" method="get">
                <input type="search" name="q" value="{{ q|default_if_none:'' }}" class="form-control" autocomplete="off" placeholder="Buscar productos">
            </form><br>
            <table class="table table-hover table-dark table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Producto</th>
                        <th class="text-center">Categoria</th>
                        <th class="text-center">Unidad de Medida</th>
                        <th class="text-center">Proveedor</th>
                        <th class="text-center">Precio de Venta</th>
                        <th class="text-center">Orden de Compra</th>
                        <th class="text-center">Cantidad</th>
                        <th class="text-center">Bodega</th>
                        
                    </tr>
                </thead>
                <tbody>

                    {% for i in inventario %}
                        <tr data-href="{% url 'inventario:modificarProducto' i.producto.id i.bodega.id %}" style="cursor: pointer;">
                            {% if q %}
                                {% for p in productos  %}
                                    {% if p.id == i.producto.id  %}
                                        <td class="text-center">{{p.nombre}}</td>
                                        <td class="text-center">{{p.get_categoria_display}}</td>
                                        <td class="text-center">{{p.get_unidades_medidas_display}}</td>
                                        <td class="text-center">{{p.proveedor}}</td>
                                        <td class="text-center">{{p.precio}}</td>
                                        <td class="text-center">{{p.ordenCompra}}</td>
                                        <td class="text-center">{{i.stock}}</td>
                                        <td class="text-center">{{i.bodega}}</td>

                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% for p in productos  %}
                                    {% if p.id == i.producto.id  %}
                                        <td class="text-center">{{p.nombre}}</td>
                                        <td class="text-center">{{p.get_categoria_display}}</td>
                                        <td class="text-center">{{p.get_unidades_medidas_display}}</td>
                                        <td class="text-center">{{p.proveedor}}</td>
                                        <td class="text-center">{{p.precio}}</td>
                                        <td class="text-center">{{p.ordenCompra}}</td>
                                        <td class="text-center">{{i.stock}}</td>
                                        <td class="text-center">{{i.bodega}}</td>

                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                                
                            

                            
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="10" class="text-danger text-center">No se encontraron resultados</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if messages %}
                <div class="alert alert-{{msj}} mb-2">
                    {% for message in messages %}
                        {{ message}}
                    {% endfor %}                
                </div>    
            {% endif %}
        </div>
        
    </div>
{% endblock %}

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var selected_categoria = $("#cate").attr("value")
        var selected_unidad = $("#uni").attr("value")
        $(document).ready(function(){
            $('table tr').click(function(){
                window.location = $(this).data('href');
                return false;
            });
            $("#categoria").val(selected_categoria).change();
            $("#unidad").val(selected_unidad).change();
        });
        $(function () {
        
        setTimeout(() => {
            $('.alert').slideUp(function () {
                $(this).remove();
            });
        }, 3000)

        });
    </script>
{% endblock js %}