{% extends 'base.html' %}

{% block title %}Ventas{% endblock  %}

{% block container %}

    <div class="row ">
        <div class="col-9 mb-3" >
            <h2> Detalles Productos</h2>
             <select name="productos" id="productos" class="form-control">
                        <option value=" "> Buscar Producto </option>
                      {%for p in productos %}
                            <option value="{{p.id}}">{{p.nombre}}   -  {{p.categoria}} - {{p.precio}}</option>
                       {%endfor%}
    
                    </select>
            <br>

            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Categoria</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody id="tabla"></tbody>

            </table>
        </div>
        <div class="col-3">
            <h2>Datos Factura</h2>
            <form action="{% url 'inventario:venta' %}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="Fecha">Fecha</label>
                    <input type="date" name="fecha" id="fecha" class="form-control" required autofocus>
                </div>
                <div class="mb-3">
                 <label for="clientes">Cliente</label>
                    <select name="clientes" id="clientes" class="form-control">
                        <option value=" "> Buscar Cliente </option>
                        {%for c in clientes %}
                            <option value="{{c.id}}">{{c.nombre}} {{c.apellido}} </option>
                        {%endfor%}
    
                    </select>
                </div>
                <div class="mb-3">
                 <label for="empleados">Empleado</label>
                    <select name="empleados" id="empleados" class="form-control">
                        <option value=" "> Buscar Empleado </option>

                        {%for e in empleados %}
                            <option value="{{e.id}}">{{e.nombre}} {{e.apellido}} </option>
                        {%endfor%}
    
                    </select>
                </div>
                <div class="mb-3">
                    <label for="subtotal">Subtotal</label>
                    <input type="number" name="subtotal" id="subtotal" class="form-control" required>
                </div>
    
                <div class="mb-3">
                    <label for="ISV">ISV</label>
                    <input type="number" name="ISV" id="ISV" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="Descuento">Descuento</label>
                    <input type="number" name="Descuento" id="Descuento" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="Total">Total </label>
                    <input type="number" name="Total" id="Total" class="form-control" required>
                </div>
    
                <div class="mb-3">
                    <input type="submit" class="btn cards" value="Pagar">
                </div>
                <div class="mb-3">
                    <input type="submit" class="btn cards" value="Guardar compra">
                </div>
            </form>
        </div>
    </div>


{% endblock %}


{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
        var productosAgregado = []
        $(document).ready(function(){
            $('#productos').change(function(e){

                var id = this.value;
                var link = `/inventario/producto/${id}/`;

              
                $.ajax({
                    url: link,
                }).done(function(res){
                    var encontrado = productosAgregado.find( function(p) {
                        return p.id == id;
                    });
                    if (encontrado){
                        return
                    }
                    productosAgregado.push(res);
                    var html = '<tr>';
                    html += `<td>${res.nombre}</td>`;
                    html += `<td>${res.categoria}</td>`;
                    html += `<td>${res.precio}</td>`;
                    html += `<td style="width: 135px;"><input type="number" name="cantidad" style="width: 100%;"></td>`;
                    html += `<td style="width: 135px;"><input type="number" name="subtotal" style="width: 100%;"></td>`;
                    html += `<td style="width: 135px;"><i class="fas fa-trash-alt fa-2x "></i></td>`;
                    html += '</tr>';

                    $('#tabla').append(html)

                })
                //return false;
            });
        });
   

</script>


{% endblock  %}